ShootingGame/Content/Audio
ShootingGame/Content/Blueprints
ShootingGame/Content/Fx
ShootingGame/Content/StarterContent
ShootingGame/Content/Maps
ShootingGame/Content/Materials
ShootingGame/Content/Meshes
ShootingGame/Content/Sequences
ShootingGame/Content/Textures
ShootingGame/Content/RuralAustralia
